/DashboardX/obj/Debug/DashboardX.csprojResolveAssemblyReference.cache
obj
/.gitignore
DashboardX.Azure.ccproj
DashboardX.Azure.ccproj.user
diagnostics.wadcfg
ServiceConfiguration.Cloud.cscfg
ServiceConfiguration.Local.cscfg
ServiceDefinition.csdef
ServiceConfiguration.cscfg
ServiceDefinition.csdef
ServiceDefinition.csdef
ServiceDefinition.rd
ServiceDefinition.rdsc
RoleModel.xml
RuntimeSetup.Manifest
__entrypoint.txt
DashboardX.dll
DashboardX.pdb
Microsoft.Data.Edm.dll
Microsoft.Data.Edm.xml
Microsoft.Data.OData.dll
Microsoft.Data.OData.xml
Microsoft.WindowsAzure.Configuration.dll
Microsoft.WindowsAzure.Diagnostics.StorageUtility.dll
Microsoft.WindowsAzure.Diagnostics.dll
Microsoft.WindowsAzure.Diagnostics.xml
Microsoft.WindowsAzure.Storage.dll
Microsoft.WindowsAzure.Storage.xml
System.Spatial.dll
System.Spatial.xml
Telerik.ReportViewer.WebForms.dll
Telerik.Reporting.Service.dll
Telerik.Reporting.dll
Telerik.Web.UI.Skins.dll
Telerik.Web.UI.dll
Telerik.Web.UI.xml
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.OData.resources.dll
System.Spatial.resources.dll
diagnostics.wadcfg
Diagnostics.dll
IISConfigurator.exe
Microsoft.WindowsAzure.Internal.RuntimeServer.dll
Microsoft.WindowsAzure.ServiceRuntime.dll
WaHostBootstrapper.exe
WaHostBootstrapper.exe.config
WaIISHost.exe
WaIISHost.exe.config
WaRuntimeProxy.dll
WaWorkerHost.exe
msshrtmi.dll
mswasr.dll
mswasri.dll
Diagnostics.dll
IISConfigurator.exe
Microsoft.WindowsAzure.Internal.RuntimeServer.dll
Microsoft.WindowsAzure.ServiceRuntime.dll
WaHostBootstrapper.exe
WaHostBootstrapper.exe.config
WaIISHost.exe
WaRuntimeProxy.dll
WaWorkerHost.exe
msshrtmi.dll
mswasr.dll
mswasri.dll
FileListener.dll
MonAgent.dll
MonAgentHost.exe
MonConfig.dll
MonDiagnostics.dll
MonEvents.dll
MonNetTransport.dll
MonQuery.dll
MonTables.dll
SysCounterListener.dll
SystemEventsListener.dll
ma.xsd
maStatic.xsd
query.xsd
shared.xsd
secutil.dll
Diagnostics.csplugin
DiagnosticsAgent.exe
DiagnosticsAgent.exe.config
Microsoft.WindowsAzure.Diagnostics.StorageUtility.dll
Microsoft.WindowsAzure.Diagnostics.dll
mswapd.dll
diagnostics.wadcfg
Azure.pubxml
Azure.pubxml.user
Azure2.pubxml
Azure2.pubxml.user
Memphis.pubxml
Memphis.pubxml.user
packages.config
Microsoft.Data.Edm.5.2.0.nupkg
Microsoft.Data.Edm.dll
Microsoft.Data.Edm.xml
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.resources.dll
Microsoft.Data.Edm.SL.dll
Microsoft.Data.Edm.SL.xml
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.Edm.SL.resources.dll
Microsoft.Data.OData.5.2.0.nupkg
Microsoft.Data.OData.dll
Microsoft.Data.OData.xml
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.resources.dll
Microsoft.Data.OData.SL.dll
Microsoft.Data.OData.SL.xml
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.Data.OData.SL.resources.dll
Microsoft.WindowsAzure.ConfigurationManager.2.0.0.0.nupkg
Microsoft.WindowsAzure.Configuration.dll
System.Spatial.5.2.0.nupkg
System.Spatial.dll
System.Spatial.xml
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.resources.dll
System.Spatial.SL.dll
System.Spatial.SL.xml
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
System.Spatial.SL.resources.dll
WindowsAzure.Storage.2.0.5.1.nupkg
Microsoft.WindowsAzure.Storage.dll
Microsoft.WindowsAzure.Storage.xml
repositories.config
