create table dbx2.dbo.SampleData (
	ID varchar(50),
	ParentID int,
	CardType varchar(50),
	InterchangeLevel varchar(50),
	RegulatedIndicator int,
	Amount varchar(50),
	DiscountFeesRate varchar(50),
	DiscountFeesAmount varchar(50),
	Items varchar(50),
	ItemFeesRate varchar(50),
	ItemsFeesAmount varchar(50),
	TranCost varchar(50),
	DialItemsCount varchar(50),
	ProcessingFeesRateDial varchar(50),
	NonDialItemsCount varchar(50),
	ProcessingFeesRateNonDial varchar(50),
	ProcessingFeesAmount varchar(50),
	TotalDue varchar(50)
)